*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	background-color: rgb(243, 238, 236);
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
	width: 1150px;
	margin: 0 auto;
}


header{
	background-color: white;
	height: 70px;
	margin-bottom: 50px;
}

.header-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.menu-header{
	text-decoration: none;
	list-style: none;
	color: rgb(135, 135, 135);
}

.li-header{
	float: left;
	margin-left: 30px;
	font-weight: 500;
	cursor: pointer;

}

.li-header-active{
	color: #5a344b ;
}

.li-header:hover{
	color: #5a344b ;
	transition: all ease 0.3s;
}

.li-header:first-child{
	margin-left: 0px;
}

.logo{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo span{
	color: #5a344b;
	font-weight: 700;
	font-size: 24px;
	margin-left: 6px;
}

header button{
	background-color: white;
	color: rgb(150, 150, 150);
	cursor: pointer;
}

.btn2{
	margin-left: 10px;
	border: solid 1.6px rgb(150, 150, 150);
	border-radius: 20px;
	padding: 5px 10px;
}

.btn2:hover{
	color: #5a344b;
	border: #5a344b solid 1.6px;
	transition: all ease 0.5s;
}

.btn1{
	border: none;
}

.btn1:hover{
	color: #5a344b;
	transition: all ease 0.5s;
}



.blok-vvod{
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: start;
}

#win-show{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#stavka{
	margin-right: 20px;
	margin-bottom: 6px;
}

#koef{
	margin-bottom: 6px;
}

label{
	display: block;
	color: #a8a8a8;
	margin-bottom: 6px;
	margin-top: 5px;
}

.input{
	display: block;
	width: 94%;
	box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid rgb(208, 208, 208);
    color: rgb(52, 52, 52);
	position: relative;
	

}

.input:focus{
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 7px 0px rgb(202, 202, 202);
	outline: none;
}

.play{
	background-color: #9b9b9b;
	color: white;
	font-size: 16px;
	padding: 10px 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 48%;
}

.play:hover{
	background-color: #5a344b;
	transition: all ease 0.5s;
}

main h3{
	color: rgb(112, 112, 112) ;
	font-size: 24px;
	font-weight: 600;
}

 .input::before{
	content: 'Ваша ставка';
	color: rgb(112, 112, 112);
	position: absolute;
	top: 90px;
	left: 10px;
	font-size: 17px;
	font-weight: 500;
} 


#win-show{
	font-size: 50px;
	line-height: 50px;
	font-weight: 500;
	color: #6d6969;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

.lineUp {
  animation: 1s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.stavMath button{
	background-color: white;
	border-radius: 10px;
    border: 1px solid rgb(208, 208, 208);
		padding: 5px;
		color: rgb(102, 102, 102);
		cursor: pointer;
}

.stavMath{
	margin-bottom: 15px;
}

.block-play{
	width: 76%;
	float: right;
	height: auto;
	background-color: white;
	border-radius: 10px;
	padding: 20px 40px;
	padding-bottom: 60px;
}

.blok-avtor{
	width: 22%;
	float: left;
	height: auto;
	background-color: white;
	border-radius: 10px;
	padding: 20px 36px;
	padding-bottom: 30px;
}


.blok-avtor h5{
	font-size: 20px;
	color: #5a344b;
	font-weight: 700;
	margin-bottom: 18px;
}

.avtor-btn{
	width: 100%;
	margin: 0;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	border: #b8b8b8 solid 1px;
	color: #6b6b6b;

}

.and{
	margin: 16px 0px;
	color: #9e9e9e;
	font-weight: 600;
	text-align: center;

}

.vhod{
	border: none;
	background-color: #e63950;
	color: white;
	margin-top: 6px;
	margin-bottom: 28px;
	padding: 13px 0px;
}

.input-avtor{
	width: 100%;
	padding-left: 10px;
	border-radius: 5px;
	margin-bottom: 18px;

}

.reg-avtor{
	text-decoration: none;
	color: #5a344b;
	font-weight: 500;
	text-align: center;
	
}

.blok-avtor img{
	margin: 0;
	padding: 0;
	margin-right: 8px;
}

.d-fblok-avtor{
	display: flex;
	align-items: center;
	justify-content: center
}

.w-fix{
	width: 190px;


}

header .avtor-btn img{
	margin-right: 8px;
}

header .avtor-btn {
	padding: 8px;
}

.vvod-stavka, .vvod-koef{
	width: 100%;
}

.vvod-info-play{
	flex-grow: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 60px;
}

.balance-hr{
	margin-top: 20px;
	margin-bottom: 0px;
	border: none;
	outline: none;
	height: 1px;
	background-color: #e8e8e8;
}

.maby-win{
	text-align: center;
	color: #9e9e9e;
	font-size: 16px;
	letter-spacing: 0px;
	margin-bottom: 30px;
}

.play-blok{
	width: 100%;
	
	display: flex;
	justify-content: space-between;
	gap: 20px;
	
}

.show-result{
 width: 100%;
 margin: 16px 0px;
 height: 36px;
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 14px;

}

.d-none{
	display: none;
}

.vvod-left{
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.green{
	background-color: #11cf89;
}
.red{
	background-color: #ff5f70;
}